<h1>My movie Lists</h1>
<%@lists.each do |list|%>
<%=link_to list.name, list_path(list)%>
<%end%>
<p><%= link_to 'Add New List', new_list_path%></p>
<%= cl_image_tag "sggcqx7jh9ck7ngwdafx",
      width: 400, height: 300, crop: :fill %>